/* Geral */

*{
    font-family: 'Roboto';
}

body{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.row{
    margin: 0;
}

.container-fluid{
    padding: 0;
}

.btn-primary{
    background-color: #f2a340;
    border: 2px solid #c28008;
}

.btn-primary:hover{
    background-color: #c28008;
    border-color: #c28008;
}

#navbar{
    justify-content: space-between;
    background-color: #fff;
    padding: 5px 0;
    }

    #navbar a{
        font-size: 14px;
        color: #757575;
    }

    #navbar a:hover{
      
        color: #f2a340;
    }

    /*search*/

    #search-container{
        background-color: #353535;
        background-size: cover;
        background-position: center;
        height: 200px;
        padding: 50px;
        text-align: center;
    }

    #search-container h1{
        color: #f2a340;
        margin-bottom: 30px;
        font-weight: 900;
    }

    #search-container form{
        width: 50%;
        margin: 0 auto;
    }

    /* Processo create page */
    #processo-create-container{
        padding: 30px;
    }
    #processo-create-container label{
        font-weight: bold;
    }

    #processo-create-container textarea,
    #processo-create-container input,
    #processo-create-container select
    {
        font-size: 12px;
    }

    /*processo page*/

    #info-container{
        margin-top: 30px;
    }
    
    #info-container h1{
        margin-top: 36px;
        font-weight: 900;
    }

    #info-container p{
        margin:0;
        font-size: 14px;
        display: flex;
    }

    #descricao-container p{
       
        font-size: 20px;
        font-weight: bold;
       
    }
    

    #descricao-container ion-icon,
    #info-container ion-icon{
        font-size: 20px;
        color: #f2a340;
        margin-right: 5px;
    }

 
    .msg{
        background-color: #d4edda;
        color: #155724;
        border:1px solid #c3e6cb;
        width: 100%;
        margin-bottom: 0;
        text-align: center;
        padding: 10px;
    }
    /* Processos-lista */

    #processos-container{
        padding: 50px;
    }

    
    #processos-container h5{
        margin-bottom: 10px;
    }

    #processos-container .subtitle{
        color: #757575;
        margin-bottom: 30px;
    }

    #cards-container{
        display: flex;
    }

    #cards-container .card{
        flex: 1 1 24%;
        max-width: 25%;
        border-radius: 10px;
        padding: 0;
        margin: 5px;
    }

    .card .card-date{
        font-size: 12px;
        color: #212121;
    }

    .card .card-title{
        color: #212121;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    /* Footer */
    footer{
        text-align: center;
        background-color: #353535;
        color: #fff;
        padding: 30px;
        position:absolute;
        bottom: 0;
        width: 100%;
    }


